

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #f8f7ee;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  margin: 2rem;
}

.form-card {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  border: 2px solid gray;
  border-radius: 8px;
  padding: 2rem;
}

.form-card-title {
  margin-left: 1.5rem;
}

.form-card-body {
  display: flex;
  justify-content: space-evenly;
}

.form-card-footer {
  width: 75%;
  margin: 0 auto 0;
}

.predict-div {
  display: flex;
  justify-content: center;
}

.results-div {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#predict-btn {
  width: 25%;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.divider {
  margin: 1.5rem;
}

.form-item {
  padding-bottom: 1rem;
}

.form-item-select {
  margin: .5rem 0 0 0;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.form-item-num {
  margin: .5rem 0 0 0;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}


.form-input {
  margin-right: 0.5rem;
}

.form-input-num {
  width: 45%;
}


.form-input-dropdown {
  width: 45%;
  margin-left: .75rem;
}

.boolean-options {
  width: 30%;
}
.numeric-options {
  width: 30%;
 }
.dropdown-options {
  width: 30%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media screen and (width < 1000px) {
  .form-card-body {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 2rem;
    
  }
  .boolean-options {
    width: 100%;
  }

  .form-item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .form-input-num {
    width: 100%;
  }

  .numeric-options {
    width: 100%;
  }

  .dropdown-options {
    width: 100%;
    margin-left: -12;
  }

  .form-input-dropdown {
    width: 100%;
  }

  #predict-btn {
    width: 100%;
  }

  .form-card {
    box-sizing: unset;
  }

  .form-card-title {
    text-align: center;
  }

  .instructions {
    font-size: small;
  }
}
